<nav class="full-nav      navbar navbar-expand-lg bg-body-tertiary ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><h2 class="logo-name">SignMeUp!</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="nav-center      navbar-nav ">
            <a class="nav-center-text    nav-link " aria-current="page" href="/">Home</a>
            <a class="nav-center-text    nav-link" href="/feedback">Feedback</a>
            <a class="nav-center-text    nav-link" href="/aboutus">About Us</a>
          </div>
        </div>
        <div class="nav-left">
      <a  class="socials" href="/user/<%= username %>"><img  class="socials-img" src="/images/login.png" alt="<%= username %>"><%=username %></a>
        </div>
      </div>
    </nav>


