<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>


    <div id="aboutus-container">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio asperiores ex voluptas ma</h1>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae modi distinctio, temporibus culpa odio perspiciatis voluptates totam doloremque molestias excepturi minima quas quam veniam vitae? Fugit id quia temporibus! Dignissimos?
            Lorem ipsum dolor sit amet consectetur . 
        </P>
        <img class="aboutus-img" src="/images/alphabets.jpeg" alt="tree">
    </div>
    
    

    <div id="person-grid">
        <div class="card card-grid">
            <img src="/images/person/man.png" alt="harshal" class="person-img">
            <h3>Harshal Chavan</h3>
            
            <div class="socials-img-div">
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/github.png" alt="github link" class="socials-img">
            </a>
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/linkedin.png" alt="linkedin link" class="socials-img">
            </a>
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/youtube.png" alt="youtube link" class="socials-img">
            </a>

            </div>
        </div>

        <div class="card card-grid">
            <img src="/images/person/man.png" alt="ajinkya" class="person-img">
            <h3>Ajinkya Birari</h3>
            <div class="socials-img-div">

            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/github.png" alt="github link" class="socials-img">
            </a>
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/linkedin.png" alt="linkedin link" class="socials-img">
            </a>
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/youtube.png" alt="youtube link" class="socials-img">
            </a>
 
            </div>
       </div>
        <div class="card card-grid">
            <img src="/images/person/man.png" alt="atharva" class="person-img">
            <h3>Atharva Aurangabadkar</h3>
            <div class="socials-img-div">
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/github.png" alt="github link" class="socials-img">
            </a>
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/linkedin.png" alt="linkedin link" class="socials-img">
            </a>
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/youtube.png" alt="youtube link" class="socials-img">
            </a>
            </div>

        </div>
        <div class="card card-grid">
            <img src="/images/person/man.png" alt="abhay" class="person-img">
            <h3>Abhay Pandey</h3>
            <div class="socials-img-div">
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/github.png" alt="github link" class="socials-img">
            </a>
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/linkedin.png" alt="linkedin link" class="socials-img">
            </a>
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/youtube.png" alt="youtube link" class="socials-img">
            </a>
 
            </div>
       </div>

    </div>





  
<%- include("./partials/footer.ejs") -%>