<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>


<div id="vision-container">
    <div id="vision-container">
    <div id="vision-p">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio asperiores ex voluptas ma</h1>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae modi distinctio, temporibus culpa odio perspiciatis voluptates totam doloremque molestias excepturi minima quas quam veniam vitae? Fugit id quia temporibus! Dignissimos?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi necessitatibus maiores quia porro reprehenderit earum temporibus nam, cumque et distinctio tempore, deserunt molestiae doloremque odio doloribus natus. Veritatis, voluptatibus minus!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iste, inventore facilis temporibus accusamus tenetur sapiente doloribus eveniet sequi veritatis quo optio. Distinctio enim alias voluptas, doloremque beatae cupiditate 
        </P>
    </div>
    
    <img class="vision-image" src="./public/images/alphabets.jpeg" alt="tree">
    </div>





  
<%- include("./partials/footer.ejs") -%>