<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>


<div class="feedback-main-container">
    <h1 id="feedback-h1">Feedback us!</h1>
    <h2 id="feedback-h2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui sunt beatae laborum, nihil perferendis !</h3>
    <div class="feedback-container">
        <img src="/images/feedback/feedback.png" alt="">

        <div class="feedback-form">
            <form action="">
                <div class="par-div">
                <label for="feedback-email">Your Email 📧</label>
                <input type="text" id="feedback-email" placeholder="example@mail.com">
                </div>
                <div class="par-div">
                <label for="feedback-p">
                    Feedback
                </label>
                <textarea type="text" name="" id="feedback-p" placeholder="This site ......." size="50" cols="65" rows="15"></textarea>

                </div>
            </form>
        </div>

    </div>
</div>

<%- include("./partials/footer.ejs") -%>