<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>

<div class="nav-filler-div" ></div>

<div class="feedback-main-container">
    <h1 id="feedback-h1" class="txt-dark">Feedback us!</h1>
    <h2 id="feedback-h2"> “Mistakes should be examined, learned from, and discarded; not dwelled upon and stored.”
– Tim Fargo</h3>
    <div class="feedback-container">
        <img src="/images/feedback/feedback.png" alt="">

        <div class="feedback-form">
            <form action="" >
                <div class="par-div">

                <label for="feedback-email">Your Email 📧</label>
                <input type="email" id="userEmail" name="email" placeholder="example@mail.com">

                </div>
                <div class="par-div">
                <label for="feedback-p">
                    Feedback
                </label>
                <textarea type="text" id="userMsg" name="feed" placeholder="This site ......." size="50" cols="65" rows="10"></textarea>

                </div>
                <button  onclick="mailFeedback()" class="register-btn" style="margin-top:2%"> <a> submit</a> </button>
            </form>
        </div>

    </div>
</div>

<script>
  function mailFeedback(){
    const userEmail = document.getElementById("userEmail").value;
    const userMsg = document.getElementById("userMsg").value;
    document.location.href = `mailto:example@mail.com?subject=feedback-by-${userEmail}&body=${userMsg}`;
  }
</script>
<%- include("./partials/footer.ejs") -%>
