<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>

  <!--------------------------------------------------------------------  yt info tabs  ---------------------------------------------------------------------->
  <div id="index-grid">

      <h2 class="info-heading grid-span-2">Lorem ipsum dolor sit amet, qui minim labore adipisicin.</h2>

        <div class="one-card" onclick="window.open('https://youtu.be/0FcwzMq4iWg', '_blank').focus">
          <img src="/images/socials/yt-into-video.png" alt="yt video thumbnail">
          <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem
            pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud .
          </p>
        </div>

        <div class="one-card">
          <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem
            pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud .
          </p>
        </div>


    <!--------------------------------------------------------------------  words and letters --------------------------------------------------------------------->
      <h2 class="info-heading grid-span-2">Lorem ipsum dolor sit amet, qui minim labore adipisicin.</h2>

        <div class="one-card js-card" onclick="letterPageJS()">
          <img src="/images/alphabets.jpeg" alt="yt video thumbnail">
          <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem
            pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud.</p>
        </div>

        <div class="one-card ">
          <img src="/images/quiz.png" alt="" class="quiz-img">
          <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem
            pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud .
          </p>
        </div>

  </div>



  <!--------------------------------------------------------------------  words and letters --------------------------------------------------------------------->
 
  <script>
    function letterPageJS() {
      window.location.assign("/letter")
    }
  </script>
<%- include("./partials/footer.ejs") -%>