<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>

<div class="nav-filler-div" ></div>
  <!--------------------------------------------------------------------  yt info tabs  ---------------------------------------------------------------------->
  <div id="index-grid" >

      <h2 class="info-heading grid-span-2">Learn American Sign Language Practically.</h2>

        <div class="one-card" onclick="window.open('https://youtu.be/0FcwzMq4iWg', '_blank').focus">
          <img src="https://cdn-icons-png.flaticon.com/128/3200/3200644.png" alt="yt video thumbnail" class="">
          <h3 class="txt-light">Phrases Dictionary</h3>
          <p class="p-size">Learn English-American sign language beginner words
          </p>
        </div>

        <div class="one-card" onclick="TextToSignJS()">
          <h2 class="txt-light">Text to Sign Converter</h2>
          <img src="/images/person/success.png" alt="yt video thumbnail" >
          <p class="p-size">Use this tool to convert your words and sentences into their appropriate Signs!          </p>
        </div>


    <!--------------------------------------------------------------------  words and letters --------------------------------------------------------------------->
      <h2 class="info-heading grid-span-2 txt-dark">Self-Paced Learning !</h2>

        <div class="one-card js-card" onclick="letterPageJS()">
          <h2 class="txt-light">Alphabet / Words / Sentences</h2>
          <img src="https://cdn-icons-png.flaticon.com/128/709/709418.png" alt="yt video thumbnail" class="">
          <p class="p-size">Set your own schedule and learn at your own pace </p>
        </div>

        <div class="one-card " onclick="quizPageJS()">
          <h2 class="txt-light">Alphabet Songs</h2>
          <img src="/images/person/karaoke.png" alt="" class="quiz-img " >
          <p class="p-size">Enjoy your learning process with some songs🎵🎵</p>
        </div>

  </div>

  <!--------------------------------------------------------------------  words and letters --------------------------------------------------------------------->

  <script>
    function letterPageJS() {
      window.location.assign("/letter")
    }
    function TextToSignJS() {
      window.location.assign("/text-to-sign")
    }
    function quizPageJS() {
      window.location.assign("https://www.youtube.com/watch?v=3VH89mOLPFU")
    }
  </script>
<%- include("./partials/footer.ejs") -%>
