<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>


<form action="/register" method ="post">
    <div class="letter-page-card register-card">
      <h1>Register</h1>

        <label>Username: </label>
        <input type="text" name="username" required>

          <label>Password: </label>
          <input type="password" name="password" required>

        <label>Confirm Password: </label>
        <input type="password" name="confirmPassword" required>

      <button class="register-btn" type="submit">SignMeUp!</button>
    
    </div>
</form>
<h3 style="color:#EEEEEE; font-size:1.5rem; margin-top:2%; margin-bottom:2%;">Already have an <a href="/login">Account</a>?</h3>

<%- include("./partials/footer.ejs") -%>
