<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>


<div class="user-grid">

    <div class="user-card letter-page-card">
        <img src="/images/person/man.png">
        <h1 style="color:black;"><%= username %> </h1>    
        
        <div class="grid-btns"> 
           <button class="btn btn-primary">Edit Profile </button>

          <form action="/logout" method="post">
          <button type="submit" class="btn btn-primary"> logout </button> 
          </form>

        </div>
       
    </div>
<div  class="user-card letter-page-card">
    <h1>Achievements</h1>
    <h2>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, qui minim labore adipisicing minim </h2>
</div>
<div  class="user-card letter-page-card span-2">
    <h2>Lorem ipsum dolor sit amet </h2>
</div>

</div>    















<%- include("./partials/footer.ejs") -%>
