<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>

<h1 style="color:white;"><%= username %> </h1>

<form action="/logout" method="post">
<button type="submit" class="btn btn-primary"> logout </button>
</form>


<%- include("./partials/footer.ejs") -%>
