@import "./styles.css";


.aboutus-img{
    /* height: 300px; */
    width: 300px;
    grid-row: 1 / 3;
    grid-column: 2 / -1;
    grid-area: image;
}


#aboutus-container{
    display: grid;
    grid-template-areas:
        'header image'
        'paragraph image';
    
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    padding-left: 5rem;
    color: var(--text-color);
    gap: 1rem;
}


#aboutus-container > p {
    width: minmax(45ch, 70ch);
    font-size: 1rem;
    grid-area: paragraph;
}


#aboutus-container > h1{
    font-size: 2rem;
    color: var(--secondary-color);
    grid-area: header;
}




#person-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(300px, 1fr) );
    grid-template-rows: repeat(2, minmax(250px, 1fr));
    padding: 5%;
}

.person-card{
    background-color: #60ABFB;
    height: 1fr;
    border-radius: 35px;
    padding: 1.5rem;

}

.card img{
    height: 50px;
}
.person-card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    'img socials'
    'name socials';
}

.card-grid > img{
    grid-row: span 2;
}

.person-img{
    height: 150px;
    
}

/* .socials-img{ */
    /* display: flex; */
    /* gap: 1rem; */
/* } */

.person-card-grid > img{
    grid-area: img;
}
.person-card-grid > h3{
    grid-area: name;
}
.person-card-grid > .socials-img{
    grid-area: socials;
}




.socials-img-div{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}






@media screen and (max-width: 950px){
    
    #aboutus-container{
        grid-template-areas:
        'header header'
        'image image'
        'paragraph paragraph';
        padding: 2.5rem;
    }
    .card-grid{
        grid-template-areas: 
        'img name'
        ' socials';
    }

}

@media screen and (max-width: 655px){
    #person-grid {
        grid-template-columns: repeat(auto-fill, 100%);
    }   
.person-card-grid{
     grid-template-areas: 
    'img name'
    'img socials';
 }
 /* .socials-img-div{ */
 /*    /* flex-direction: row; */ 
 /*  }    */
}
