@import "./styles.css";

#feedback-h1{
    color: #00ADB5;
    align-self: flex-start;
}

#feedback-h2{
    color:#EEEEEE; 
}

.feedback-container{
    display: flex;
    gap: 38px;
}
.feedback-container img{
  width: 30vw;
}
.feedback-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #EEEEEE;
    padding-top: 8%;
}
.par-div{
    margin: 2% 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* input {
    height: 100px;
    width: 98%;
    padding: 1%;
  } */
.feedback-main-container{
  padding: 4%;
  padding-top: 0;
}
.feedback-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submit-button{
  border-radius: 35px;
  margin-top: 5%;
  background-color: #00ADB5;
  padding: 1% 2% ;
  border: 1px solid #393E46;
}


@media screen and (max-width: 940px){
  .feedback-container{
    flex-direction: column;
    gap:10px;
    padding: 0;
  }
  .feedback-form{
    width: 70vw;
  }
  .feedback-container img{
    width: 40vw;
  }
  #feedback-h2, #feedback-h1{
    /* align-self:r; */
    padding-left: 10%;
  }
}
