.quiz-container{
  display: grid;
  grid-template-areas: 
    'video answerButtons'
    'video nextButton';
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-template-rows: 4fr 1fr;
  gap: 1rem;
  margin: 0 10%;
}

.video-container{
  justify-self: center;
  align-items: center;
  grid-row: span 2;
}

.answer-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* justify-content: center; */
  /* align-items: center; */
  padding-top: 1rem;
}


.video-element{
  border-radius: 40px;
}


.next-button{
  background-color: var(--button-color);
  color: var(--text-color-light);
  border-radius: 40px;
  font-size: 2ch;
  height: 5ch;
  transition: 0.5s;
}
.next-button:hover{
    background-color: var(--text-color);
  }

.option-btn{
  font-size: 2ch;
  height: 5ch;
  background-color: #FDF0F0;
  color:var(--text-color);
  border-radius: 40px;
}

.option-btn:hover{
  background-color: var(--hover-state-button);
}


.correct-option{
  background-color: lightgreen;
}
.incorrect-option{
  background-color: lightred;
}



/********************************************* progress bar ***********************************************/
.progress-bar-css{
  display: flex;
  margin: 1rem auto;
  width: 70vw;
  height: 2ch;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 20px;
}

progress::-moz-progress-bar, progress::-webkit-progress-bar{
  background-color: green;
  border-radius: 20px;
}
