.quiz-option-container {
  display: grid;
  grid-template-areas:
    'video answer'
    'video next-button';

  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  padding-left: 5rem;
  color: var(--text-color);
  gap: 1rem;
}

.quiz-option-container > #next-btn{
  grid-area: next-button;
}

.quiz-option-container > .answer{
  grid-area: answer;
}

.quiz-option-container > .video-container{
  grid-area: video;
}

.quiz-next-btn{
  margin: 3rem;
  color: var(--title-color);
  background-color: var(--button-color);
  border-radius: 45px;
  width: minmax(500px, 1fr);
}
