.quiz-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}


.option-button{
    color: white;
    background-color: black;
}
.option-button:hover{
    color: red;
    background-color: azure;
}

.complete-btn{
  border-radius: 35px;
  color: #EEEEEE;
  background-color: yellow;
}
