/* -----------------------------------color pallete used ---------------------------*/
/* blackish : #222831; */
/* greyish:  #393E46; */
/* turquoiseType: #00ADB5; */
/* lightblue */



html, body{
  background-color: #222831 !important;
}

/*--------------------------------------------navigation bar-----------------------------------------*/
.nav-center{
  margin-left: 35%;
  font-weight: bold;
}
nav.full-nav{
  background-color: #393E46 !important;
  color: #EEEEEE;
  margin-bottom: 2.5rem;
}
h2.logo-name{
  color: #00ADB5;
  margin-left: 10%;
  font-weight:bold;
}
.socials-img{
  height: 35px;
  margin-left:10px;
}
a.nav-center-text{
  font-size: 1.3rem;
}

/*--------------------------------------------navigation bar-----------------------------------------*/
/*-------------------------------------------- index grid -----------------------------------------*/

#index-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem 3rem 1rem 3rem;
}

.grid-span-2{
  grid-column: span 2;
}

/*-------------------------------------------- index grid -----------------------------------------*/
/*-------------------------------------------- info tabs -----------------------------------------*/
.info-heading{
  color: #EEEEEE;
}

.one-card{
  height: 100%;
  background-color:lightblue;
  border-radius: 35px;
  padding: 5% 5% 5% 5%;
  cursor: pointer;
}

.one-card > img{
  height: 130px;
  margin: 3% 0 0 0;
  float: right;
}

/*-------------------------------------------- info tabs -----------------------------------------*/

/*--------------------------------------------  letter card on letter page  -----------------------------------------*/
.letter-grid{
  display: grid;
  margin: 0 15% 0 12%;
  gap: 30px;
  grid-template-rows: 45% 45%;
  grid-template-columns: 50% 50%;
  grid-row: 1/ span 1;
}
.letter-img{
  width: 100px;
  height: 100px;
}
.letter-page-card{
  background-color: lightblue;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.letter-card-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.letter-card-img:hover{
  cursor: pointer;
}

/*-------------------------------------------- letter card on letter page  -----------------------------------------*/

/* -------------------------- person card ----------------------------- */
.person-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, minmax(240px, 50%));
}

/* -------------------------- person card ----------------------------- */

/*-------------------------------------------- footer -----------------------------------------*/

#footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #EEEEEE;
  margin: 3% 0 3% 0;
}

footer a{
  text-decoration: none;
}

#footer-img{
  display: flex;
  gap: 30%;
  justify-content: center;
}

#footer-img img:hover{
  height: 60px;
  width: 60px;
}

/*-------------------------------------------- footer  -----------------------------------------*/

@media (max-width: 500px) {
  h2.logo-name{
    margin-right: 50%;
  }
  .socials-img{
    height: 0;
    width: 0;
    margin-left: 0;
  }

}

@media (max-width: 650px){
  .letter-page-card{
    grid-column: span 2;
  }
  .one-card{
    grid-column: span 2;
  }
}

@media (hover: hover) {
  a.nav-center-text:hover {
    color: #00ADB5;
    transition-duration: 0.5s;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
