/* -----------------------------------color pallete used ---------------------------*/
/* blackish : #222831; */
/* greyish:  #393E46; */
/* turquoiseType: #00ADB5; */
/* lightblue */
/* font-family: 'Catamaran', sans-serif; */
/* font-family: 'Audiowide', cursive; */
/* font-family: 'Catamaran', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */
/**/
/* #49E65E */
/* #47EDB1 */
/* #4AC4D6 */
/* #4789ED */
/* #574CE6 */
/* #5F9DF7 */
/**/
/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Catamaran:wght@300;400&family=Roboto+Mono&display=swap'); */

:root{
  --background-color: #DFF6FF;
  --secondary-color: #60ABFB;
  --title-color: #F7FBFC;;
  --card-color: #60ABFB;
  --text-color: #393E46;
}

* {
  font-family: 'Catamaran', sans-serif;
 }

html, body{
  background-color: var(--background-color) !important;
}
a{
  text-decoration: none;
}
/*-------------------------------------------- progress bar-----------------------------------------*/
.prog-bar{
  position: fixed;
  top: 60px;
  z-index: 1000;
  width: 100%;
}

/*-------------------------------------------- progress bar-----------------------------------------*/
/*--------------------------------------------navigation bar-----------------------------------------*/

.nav-filler-div{
  height: 120px;
}



.nav-center{
  margin-left: 35%;
  font-weight: bold;
}

nav.full-nav{
  background-color: var(--secondary-color)!important;
  color: var(--text-color);
  margin-bottom: 2.5rem;
  position: fixed;
  width: 100%;
}
h2.logo-name{
  color: var(--title-color);
  margin-left: 10%;
  font-weight:bold;
}
.socials-img{
  height: 35px;
  margin-left:10px;
}
a.nav-center-text{
  font-size: 1.3rem;
  color: #EEEEEE;
  transition: transform 0.3s ease 0s;
}
.socials{
  text-decoration: none;
  color: #EEEEEE;
}
/*--------------------------------------------navigation bar-----------------------------------------*/
/*-------------------------------------------- index grid -----------------------------------------*/

#index-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem 3rem 1rem 3rem;
}

.grid-span-2{
  grid-column: span 2;
}

/*-------------------------------------------- index grid -----------------------------------------*/
/*-------------------------------------------- info tabs -----------------------------------------*/
.info-heading{
  color: var(--text-color);
}

.one-card{
  height: 100%;
  background-color: var(--card-color);
  border-radius: 35px;
  padding: 5% 5% 5% 5%;
  cursor: pointer;
}

.one-card > img{
  height: 130px;
  margin: 3% 0 0 0;
  float: right;
}

/*-------------------------------------------- info tabs -----------------------------------------*/

/*--------------------------------------------  letter card on letter page  -----------------------------------------*/
.letter-grid{
  display: grid;
  margin: 0 15% 0 12%;
  gap: 30px;
  grid-template-rows: 45% 45%;
  grid-template-columns: 50% 50%;
  grid-row: 1/ span 1;
}
.letter-img{
  width: 100px;
  height: 100px;
}
.letter-page-card{
  background-color:  var(--card-color);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.letter-card-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.letter-card-img:hover{
  cursor: pointer;
}

/*-------------------------------------------- letter card on letter page  -----------------------------------------*/

/* -------------------------- person card ----------------------------- */
.person-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, minmax(240px, 50%));
}

/* -------------------------- person card ----------------------------- */

/*-------------------------------------------- footer -----------------------------------------*/

#footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  margin: 3% 0 3% 0;
}

footer a{
  text-decoration: none;
}

#footer-img{
  display: flex;
  gap: 30%;
  justify-content: center;
}

#footer-img img:hover{
  height: 60px;
  width: 60px;
}

/*-------------------------------------------- footer  -----------------------------------------*/
/*-------------------------------------------- footer  -----------------------------------------*/

.register-card{
  gap: 10px;
  color: var(--secondary-color);
}
.register-btn {
  background-color: var(--text-color);
  border-radius: 45px;
  border: 2px solid var(--text-color);
  padding: 0.6rem;
}

/*-------------------------------------------- footer  -----------------------------------------*/

@media (max-width: 500px) {
  h2.logo-name{
    margin-right: 50%;
  }

}
@media (max-width: 428px){
  .prog-bar{
    top: 90px;
  }
}

@media (max-width: 650px){
  .letter-page-card{
    grid-column: span 2;
  }
  .one-card{
    grid-column: span 2;
  }
}

@media (hover: hover) {
  a.nav-center-text:hover {
    color: var(--title-color);
    transition-duration: 0.5s;
    transform: translateY(-6px);
  }
  .register-btn:hover {
    transition-duration: 0.5s;
    background-color: var(--title-color);
    border-radius: 45px;
  }
  .socials:hover{
    transition-duration: 0.5s;
    color: var(--title-color);
  }
}
